<!DOCTYPE html>
<html lang="ja">

<head prefix="og: http://ogp.me/ns#">
    <!-- Google Tag Manager -->
    <script>
        (function(w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-XXXXXX');
    </script>
    <!-- 'GTM-XXXXXX'を独自のIDに修正 -->
    <!-- End Google Tag Manager -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>フードロスジャパンのタイトルです。</title>
    <meta name="description" content="フードロスジャパンLPのディスクリプションです。">
    <meta property="og:url" content="">
    <meta property="og:type" content="website">
    <meta property="og:title" content="フードロスジャパンのOGPタイトルです。">
    <meta property="og:description" content="フードロスジャパンLPのOGPディスクリプションです。">
    <meta property="og:image" content="">
    <link rel="stylesheet" href="./css/lp-reset.min.css" media="all">
    <link rel="stylesheet" href="./swiper/swiper-bundle.min.css">
    <link rel="stylesheet" href="./css/lp-layout.css" media="all">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <!-- Adobeフォント -->
    <script>
        (function(d) {
            var config = {
                    kitId: 'ahc7qvt',
                    scriptTimeout: 3000,
                    async: true
                },
                h = d.documentElement,
                t = setTimeout(function() {
                    h.className = h.className.replace(/\bwf-loading\b/g, "") + " wf-inactive";
                }, config.scriptTimeout),
                tk = d.createElement("script"),
                f = false,
                s = d.getElementsByTagName("script")[0],
                a;
            h.className += " wf-loading";
            tk.src = 'https://use.typekit.net/' + config.kitId + '.js';
            tk.async = true;
            tk.onload = tk.onreadystatechange = function() {
                a = this.readyState;
                if (f || a && a != "complete" && a != "loaded") return;
                f = true;
                clearTimeout(t);
                try {
                    Typekit.load(config)
                } catch (e) {}
            };
            s.parentNode.insertBefore(tk, s)
        })(document);
    </script>
    <!-- Adobeフォント -->
</head>

<body>
    <div id="app">
        <!-- Google Tag Manager (noscript) -->
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-XXXXXX"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        <!-- id=GTM-XXXXXXを独自のIDに修正 -->
        <!-- End Google Tag Manager (noscript) -->
        <header>
            <div class="Header__inner">
                <div class="Header__link--nav">
                    <div class="nav-trigger" id="nav-btn">
                        <span class="nav-bar"></span>
                        <span class="nav-bar"></span>
                        <span class="nav-bar"></span>
                    </div>
                    <p class="Header__link--txt">Menu</p>
                </div>
                <p class="Header__txt">
                    <span>店先では買えない野菜のセットをお届けします</span><br> フードロスジャパン
                </p>
                <div class="Header__link--order">
                    <a href="javascript:void(0)" @click="openPopUp()">
                        <img src="img/header-img-order.png" alt="">
                        <p class="Header__link--txt">Order</p>
                    </a>
                </div>
            </div>
        </header>
        <section id="p-Humburger">
            <div class="p-Humburger__inner">
                <nav>
                    <ul class="p-Humburger__list--nav">
                        <li><a href="#p-AboutUs" class="nav-link">私たちについて</a></li>
                        <li><a href="#p-WhatIsProducts" class="nav-link">どんな野菜が届くの？</a></li>
                        <li><a href="#p-ProducersVoice" class="nav-link">生産者の声</a></li>
                        <li><a href="#p-CustomersVoice" class="nav-link">お客様の声</a></li>
                        <li><a href="#p-Massage" class="nav-link">フードロスジャパンとは</a></li>
                    </ul>
                </nav>
                <a href="javascript:void(0)">
                    <p class="c-order__btn c-btn--order p-Humburger__btn--order" @click="openPopUp()">今すぐ注文する</p>
                </a>
                <p class="c-sns__hash">＃フードロスジャパン</p>
                <p class="c-sns__txt">様々な情報を公式アカウントで配信中！</p>
                <ul class="p-Humburger__list--sns c-sns">
                    <li>
                        <a href=""><img src="img/sns-img-youtube.png" alt="" class="--youtube"></a>
                    </li>
                    <li>
                        <a href=""><img src="img/sns-img-facebook.png" alt="" class="--facebook"></a>
                    </li>
                    <li>
                        <a href=""><img src="img/sns-img-twitter.png" alt="" class="--twitter"></a>
                    </li>
                    <li>
                        <a href=""><img src="img/sns-img-instagram.png" alt="" class="--instagram"></a>
                    </li>
                    <li>
                        <a href=""><img src="img/sns-img-line.png" alt="" class="--line"></a>
                    </li>
                </ul>
            </div>
        </section>
        <main>
            <div class="main__inner">
                <section id="p-MV">
                    <h2 class="p-MV__head--sub"><span>ワクワクするロス野菜</span></h2>
                    <h1>フードロス<br>ジャパン</h1>
                    <p>
                        一般的なスーパーマーケットには並べられない<br> 傷がある　大きさがバラバラ
                        <br> たったそれだけのことで
                        <br> 規格外と呼ばれ廃棄されてしまう野菜たち
                    </p>
                    <p class="--second">
                        そんな野菜を一般的な食品売り場の価格より<br> お安い価格でご提供することを約束します
                    </p>

                    <img src="img/MV-img-veg.png" alt="" class="p-MV__bi-veg">
                </section>
                <section id="p-Order" class="c-Order">
                    <img src="img/order-img-mv.png" alt="" class="p-Order__img--mv">
                    <div class="c-Order__inner">
                        <h3 class="c-Order__head">わくわくロス野菜<br>10kgパック</h3>
                        <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                        <p class="c-Order__txt">
                            頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                            <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                            <br> ご自宅に送料無料でお届けいたします。
                        </p>
                        <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                        <a href="javascript:void(0)" @click="openPopUp(2)">
                            <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                        </a>
                        <p class="c-Order__txt--caution">
                            ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                        </p>
                    </div>
                </section>
                <section id="p-AboutUs">
                    <h2><span>About us</span></h2>
                    <h3 class="p-AboutUs__head--sub">
                        日本の食品ロスをゼロに<br> 近づけることが
                        <br> フードロスジャパンの
                        <br> 使命です
                    </h3>
                    <img src="img/aboutus-img-veg1.png" alt="" class="p-AboutUs__bi--veg1">
                    <img src="img/aboutus-img-veg2.png" alt="" class="p-AboutUs__bi--veg2">
                    <p class="p-AboutUs__text">
                        一般的なスーパーマーケットには並べられない<br> 傷がある　大きさがバラバラ
                        <br> たったそれだけのことで
                        <br> 規格外と呼ばれ廃棄されてしまう食品たち
                    </p>
                    <ol class="p-AboutUs__list">
                        <li>
                            <h4>毎日1人お茶碗1杯分の<br>食料が捨てられている</h4>
                            <p>
                                日本で1年間に発生する食品ロスは約612万トン。東京ドーム約5杯分の食品が行き場を失っています
                            </p>
                        </li>
                        <li>
                            <h4>フードロスジャパンが<br>全国から回収</h4>
                            <p>
                                多くの日本の農家や食品メーカーで「規格」に適合できないちょっとした理由で廃棄されてしまう食品を私たちが全国からお売りいただいています
                            </p>
                        </li>
                        <li>
                            <h4>フードロスジャパンから<br>全国にお届け</h4>
                            <p>
                                集まった食品や野菜を、一般的な食品売り場の価格よりお安い価格で定期的にご提供させていただきます
                            </p>
                        </li>
                    </ol>
                    <div class="dash1"></div>
                    <div class="dash2"></div>
                    <div class="dash3"></div>
                    <img src="img/what-img-deliver.png" alt="" class="p-AboutUs__bi--veg3">
                    <img src="img/aboutus-img-veg4.png" alt="" class="p-AboutUs__bi--veg4">
                    <div class="p-AboutUs-solution">
                        <div class="p-AboutUs-solution__img">
                            <figure>
                                <img src="img/aboutus-img-solution1.png" alt="">
                                <figcaption>農家</figcaption>
                            </figure>
                            <figure>
                                <img src="img/aboutus-img-solution2.png" alt="">
                                <figcaption>あなた</figcaption>
                            </figure>
                            <figure>
                                <img src="img/aboutus-img-solution3.png" alt="">
                                <figcaption>環境</figcaption>
                            </figure>
                        </div>
                        <h4 class="p-AboutUs-solution__head">三方良しで課題解決！</h4>
                        <h5 class="p-AboutUs-solution__head--sub">あなたの一歩が<br>地球にとって大きな一歩になる</h5>
                        <p class="--first">
                            1年の間に様々な理由で発生する。<br> 日本の食品ロスは約612万トン（東京ドーム約5杯分の食品）※
                        </p>
                        <p class="--second">
                            食品ロスを減らすことができれば生産者（農家や食品メーカー）も笑顔になり、消費者も より安く美味しい食品を手に入れることができ、将来的な環境悪化や人口増加による食料危機問題にも貢献でき、あなたの一歩が加わることで、売り手も買い手も満足でき さらに社会貢献にもなる。まさに「三方良し」な未来にもっと近づくことができます。<br>（※出典：<a href="https://www.maff.go.jp/j/pr/aff/2010/spe1_01.html"
                                target="_blank" rel="noopener">https://www.maff.go.jp/j/pr/aff/2010/spe1_01.html</a>）
                        </p>
                    </div>
                </section>
                <section class="p-OrderSlide --first">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>5kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(1)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>10kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(2)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>20kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(3)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <section id="p-WhatIsProducts">
                    <h2><span>What’s products</span></h2>
                    <h3>わくわくロス野菜セットを<br>購入するとどんな野菜や<br>果物が届くの？</h3>
                    <ul class="p-WhatIsProducts__list">
                        <li>
                            <figure>
                                <img src="img/what-img-li1.png" alt="">
                                <figcaption>皮の色が異なる</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/what-img-li2.png" alt="">
                                <figcaption>日付が短い</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/what-img-li3.png" alt="">
                                <figcaption>大きすぎる</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/what-img-li4.png" alt="">
                                <figcaption>小さすぎる</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/what-img-li5.png" alt="">
                                <figcaption>形が不揃い</figcaption>
                            </figure>
                        </li>
                        <li>
                            <figure>
                                <img src="img/what-img-li6.png" alt="">
                                <figcaption>その他</figcaption>
                            </figure>
                        </li>
                    </ul>
                    <div class="p-WhatIsProducts-deliver">
                        <img src="img/what-img-deliver.png" alt="" class="p-WhatIsProducts-deliver__img">
                        <h3 class="p-WhatIsProducts-deliver__head">パッケージに詰めて<br>あなたにお届け</h3>
                        <h4 class="p-WhatIsProducts-deliver__head--sub">見た目はキレイじゃなくても<br>大切に大切に 時間をかけて<br>育てられた美味しい野菜を<br>全国にお届けします</h4>
                        <p>
                            わくわくロス野菜パックは、主に規格外野菜を詰め合わせして発送させていただいております。<br> 規格外野菜とは、味は変わらないのに、正規品に比べデコボコしていたり、形がゆがんでいたり、曲がっていたり、色にムラがあったり、外側にキズが入っていたり、サイズがバラバラで大きすぎたり、小さすぎたりなど、様々な理由で一般の流通ルートに乗ることができず、廃棄されてしまう道をたどることが多い野菜のことです。
                        </p>
                        <p class="--second">
                            仕入れ状況により、規格外野菜が10kgに満たない場合は、<br> 不足分を規格外ではない正規品で充当する場合がございます。
                        </p>
                    </div>
                </section>
                <section class="p-OrderSlide --second">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>20kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(3)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>5kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(1)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>10kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(2)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                </section>
                <section id="p-ProducersVoice">
                    <h2><span>Producer’s Voice</span></h2>
                    <h3>生産者の声</h3>
                    <ul class="p-ProducersVoice__list c-Voice__list">
                        <li>
                            <!-- 生産者の声を追加する場合はこのli内を全て複製 -->
                            <h4 class="c-Voice__list--head">栄養満点の美味しい<br>野菜が届きました！</h4>
                            <img src="img/voice-img-dammy.png" alt="" class="p-ProducersVoice__list--img --1">
                            <p class="p-ProducersVoice__list--txt">
                                フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。
                            </p>
                        </li>
                        <li>
                            <!-- 生産者の声を追加する場合はこのli内を全て複製 -->
                            <h4 class="c-Voice__list--head">栄養満点の美味しい<br>野菜が届きました！</h4>
                            <img src="img/voice-img-dammy.png" alt="" class="p-ProducersVoice__list--img --2">
                            <p class="p-ProducersVoice__list--txt">
                                フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。
                            </p>
                        </li>
                    </ul>
                </section>
                <section id="p-CustomersVoice">
                    <div class="p-CustomersVoice__inner">
                        <h2><span>Customer’s Voice</span></h2>
                        <h3>お客様の声</h3>
                        <ul class="p-ProducersVoice__list c-Voice__list">
                            <li>
                                <!-- お客様の声を追加する場合はこのli内を全て複製 -->
                                <h4 class="c-Voice__list--head">栄養満点の美味しい<br>野菜が届きました！</h4>
                                <img src="img/voice-img-dammy.png" alt="" class="p-ProducersVoice__list--img --1">
                                <p class="p-ProducersVoice__list--txt">
                                    フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。
                                </p>
                            </li>
                            <li>
                                <!-- お客様の声を追加する場合はこのli内を全て複製 -->
                                <h4 class="c-Voice__list--head">栄養満点の美味しい<br>野菜が届きました！</h4>
                                <img src="img/voice-img-dammy.png" alt="" class="p-ProducersVoice__list--img --2">
                                <p class="p-ProducersVoice__list--txt">
                                    フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。フードロス削減に貢献しませんか？規格外等の理由だけで廃棄されてしまう野菜や果物を安価で買取日本のフードレスを0に。
                                </p>
                            </li>
                        </ul>
                    </div>
                </section>
                <section class="p-OrderSlide --third">
                    <div class="swiper">
                        <div class="swiper-wrapper">
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>5kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(1)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>10kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(2)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                            <div class="swiper-slide">
                                <div class="c-Order__inner">
                                    <h3 class="c-Order__head">わくわくロス野菜<br>20kgパック</h3>
                                    <img src="img/order-img.png" alt="" class="c-Order__bi--pic1">
                                    <p class="c-Order__txt">
                                        頑張って一緒に大きくなったのに、一緒には<br> 店先に登場することなく、誰にも気づかれず、
                                        <br> ひっそりと消えていくロス野菜を毎月1回定期的に
                                        <br> ご自宅に送料無料でお届けいたします。
                                    </p>
                                    <p class="c-Order__txt--price">月額<span class="number">0,000</span>円<span class="small">(税込・送料込)</span></p>
                                    <a href="javascript:void(0)" @click="openPopUp(3)">
                                        <p class="c-order__btn c-btn--order">今すぐ注文する</p>
                                    </a>
                                    <p class="c-Order__txt--caution">
                                        ※一部離島はお届けできません<br> ※10kgは箱を除いた目安の重さです 多少前後いたします
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-pagination"></div>
                    </div>
                    <a href="javascript:void(0)" @click="openPopUp()">
                        <p class="c-order__btn c-btn--order p-OrderSlide__btn">今すぐ注文する</p>
                    </a>
                </section>
                <section id="p-Massage">
                    <h2><span>FOOD LOSS JAPAN</span></h2>
                    <h3>代表メッセージ</h3>
                    <p class="p-Massage__txt--name">
                        フードロスジャパン運営会社<br> エクネス株式会社 代表取締役CEO 平井康之
                    </p>
                    <p class="p-Massage__txt--massage">
                        なんのために自分は生きているのか、生きているうちに何をしたいのか、創業前の数年間ずっと考えてきました。社会に貢献できる仕事がしたい、それが私の出した答えでした。私は大学卒業後、新卒で金融機関に入社し、その後営業先であったWEB制作、システム開発企業の営業として従事しました。<br> 仕事をしていく中で、より社会的に意義のあるもの、社会の様々な課題解決、そういったことを通じて事業を拡大し、その対価としてお金をいただける仕事がしたいと思い、会社を興すことを決めました。今は社会に対する影響力はまだまだ小さいですが、従業員一人一人が社会の役に立ち、誇りをもって仕事ができる場を作っていくと同時に、社会に対し、長期、超長期視点で社会に大きないい意味でのインパクトを与えられる企業を目指します。
                        <br> 2030年に「社会的意義のある」売上1000億企業にすることが当面の目標です。
                    </p>
                    <img src="img/massage-img.png" alt="" class="p-Massage__img">
                    <p class="c-sns__hash">＃フードロスジャパン</p>
                    <p class="c-sns__txt">様々な情報を公式アカウントで配信中！</p>
                    <ul class="p-Massage-sns c-sns">
                        <li>
                            <a href=""><img src="img/sns-img-youtube.png" alt="" class="--youtube"></a>
                        </li>
                        <li>
                            <a href=""><img src="img/sns-img-facebook.png" alt="" class="--facebook"></a>
                        </li>
                        <li>
                            <a href=""><img src="img/sns-img-twitter.png" alt="" class="--twitter"></a>
                        </li>
                        <li>
                            <a href=""><img src="img/sns-img-instagram.png" alt="" class="--instagram"></a>
                        </li>
                        <li>
                            <a href=""><img src="img/sns-img-line.png" alt="" class="--line"></a>
                        </li>
                    </ul>
                </section>
            </div>
        </main>
        <footer>
            ©️2021 Food Loss Japan
        </footer>
        <div v-if="popUp" class="popUp">
            <img src="img/close.png" @click="popUp=!popUp" class="close">
            <h1 class="popUp-title">注文確認</h1>
            <img src="img/order-img.png" class="item-img">
            <ul class="price-list">
                <li>
                    <div>{{ item.name }}</div>
                    <div>{{ item.price.toLocaleString() }}円</div>
                </li>
                <li>
                    <div>送料一律</div>
                    <div>{{ parseInt(shipping_fee, 10).toLocaleString() }}円</div>

                </li>
            </ul>
            <ul class="price-list">
                <li>
                    <div>小計</div>
                    <div>{{ parseInt(subtotal, 10).toLocaleString() }}円</div>
                </li>
                <li>
                    <div>消費税</div>
                    <div>{{ parseInt(tax, 10).toLocaleString() }}円</div>

                </li>
            </ul>
            <ul class="price-list">
                <li>
                    <div>合計</div>
                    <div>{{ total.toLocaleString() }}円</div>
                </li>
            </ul>
            <p class="popUp-sub-title">パック</p>
            <div class="select_item">
                <label v-for="(item, index) in kind_list" :key="index" :class="{'checked': item.id == kind}">
                    <input class="visually-hidden" type="radio" name="kind" v-model="kind" :value="item.id" @change="resetCart()" />
                    {{ item.name }}
                </label>
            </div>
            <p class="popUp-sub-title">配送頻度</p>
            <div class="select_item shipping_frequency">
                <label v-for="(item, index) in shipping_frequency_list" :key="index" :class="{'checked': item.id == shipping_frequency}">
                    <input class="visually-hidden" type="radio" name="kind" v-model="shipping_frequency" :value="item.id" @change="resetCart()" />
                    {{ item.name }}
                </label>
            </div>
            <p class="popUp-sub-title">希望配送曜日</p>
            <div class="select_item shipping_day">
                <label v-for="(item, index) in shipping_day_list" :key="index" :class="{'checked': item.id == shipping_day}">
                    <input class="visually-hidden" type="radio" name="kind" v-model="shipping_day" :value="item.id" />
                    {{ item.name }}
                </label>
            </div>
            <div class="checkout-btn" @click="goToCheckout">注文ページに進む</div>
        </div>

        <script type="module" src="./script.js"></script>
        <script type="text/javascript" src="./swiper/swiper-bundle.min.js"></script>
        <script>
            // let mySwiper = new Swiper('.swiper', {
            //     speed: 800,
            //     // 以下にオプションを設定
            //     loop: true, //最後に達したら先頭に戻る
            //     effect: 'slide',
            //     autoplay: {
            //         delay: 6000,
            //         stopOnLastSlide: false,
            //         disableOnInteraction: false,
            //         reverseDirection: false
            //     },
            //     //ページネーション表示の設定
            //     pagination: {
            //         el: '.swiper-pagination', //ページネーションの要素
            //         type: 'bullets', //ページネーションの種類
            //         clickable: true, //クリックに反応させる
            //     },
            // });
        </script>
        <script>
            // $(function() {
            //     $('.nav-trigger').on('click', function() {
            //         $(this).toggleClass('active');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-trigger').on('click', function() {
            //         $('#p-Humburger').toggleClass('active');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-trigger').on('click', function() {
            //         $('main').toggleClass('inactive');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-trigger').on('click', function() {
            //         $('header').toggleClass('inactive');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-trigger').on('click', function() {
            //         $('footer').toggleClass('inactive');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-link').on('click', function() {
            //         $('.nav-trigger').removeClass('active');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-link').on('click', function() {
            //         $('#p-Humburger').removeClass('active');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-link').on('click', function() {
            //         $('main').removeClass('inactive');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-link').on('click', function() {
            //         $('header').removeClass('inactive');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $('.nav-link').on('click', function() {
            //         $('footer').removeClass('inactive');
            //         return false;
            //     });
            // });
            // $(function() {
            //     $(".nav-link").on("click", function() {
            //         event.preventDefault();
            //         var link = $(this).attr('href');
            //         setTimeout(function() {
            //             location.href = link;
            //         }, 0);
            //     });
            // });
            // $(function() {
            //     $('.nav-link').click(function() {
            //         var adjust = 0;
            //         var speed = 400;
            //         var href = $(this).attr("href");
            //         var target = $(href == "#" || href == "" ? 'html' : href);
            //         var position = target.offset().top + adjust;
            //         $('body,html').animate({
            //             scrollTop: position
            //         }, speed, 'swing');
            //         return false;
            //     });
            // });
        </script>
</body>

</html>

</html>